body{
	margin: 0;

}

#img {

    float: left;
    margin-right: 45px;
    height: 64px;
}

h1{
   font-family:'Arial', Times, serif;
   font-size: 32px;
   line-height: 2;
  color:#489bd9; 
}

#block {
	max-width: 960px;
    margin: auto; 
}

#menucontent{
    max-width:960px;
    margin: auto; 
}

header {
    background:url(https://asterial.ru/uploads/header.jpg) ; 
    width: 100%;
}

footer {
    background:url(https://asterial.ru/uploads/header.jpg) ; 
    width: 100%;
    font-size: 15px;
    color:#489bd9; 
}

.one {
	text-align: center;
	margin-top: 20px;
}
.one ul {
	padding: 0;
	margin: 0;
    list-style: none;
}

.one ul li {
display: inline-block;
padding: 5px 40px;
}

.one ul li a{
	text-decoration: none;
}
.z1{
	background-color: #E0FFFF;
}

.z2{
	background-color: #E0FFFF;
	align-content: center;
}

.z3{
	text-align: center;
}

.z4 {
background-color: #E0FFFF
}

h2{
text-align: center;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

border-collapse: separate;
border-spacing: 5px;
background:  #489bd9;
color: #656665;
border: 16px solid #4DB2FF;
border-radius: 20px;
}

th {
font-size: 18px;
padding: 10px;
}

td {
padding: 10px;
}

tr:nth-child(2n) {background: #e8edff;}
tr:nth-child(2n+1) {background: url(https://asterial.ru/uploads/header.jpg);}

footer p {
	padding: 10px;
}

@media screen and (min-width: 1000px) {

    
    #menu{
        max-width: 960px;
        margin:auto; 
        margin-top: 35px;
        flex-direction: row;
    }
       
    #menu nav{
        flex-direction: row;
	    justify-content: space-around;
    }
    
    .content{
        max-width: 960px;
        margin:auto;
        margin-top: 35px;
    }
    
    .selector2{
        order: 2;
    }
    
    .selector3{
        order: 3;
    }
}
    


